{
  "presets": [["env", {
    "targets": {
      "browsers": [
        "last 2 versions",
        "> 5%",
        "safari >= 8",
        "ie >= 10",
        "Firefox ESR",
        "iOS >= 8",
        "android >= 4"
      ]
    }
  }], "react", "stage-2"],
  "plugins": ["transform-runtime", "add-module-exports", "react-hot-loader/babel"],
  "comments": false
}
