@import 'base/index';

html {
  font-size: 16px;

  color: #000;
  background: #fff;
}

.flex {
  display: flex;
  .item {
    flex: 1;
  }
}

.t {
  font-size: 16px;
}

body {
  background: resolve(cover2.png);
}
