<!DOCTYPE html>
<html lang="en">
{{> head title="page example" }}
<body>
  <div class="app">
    <p>static path defined in config.json: {{ client.publicPath }}</p>
    <div id="react-app"></div>
  </div>
  <script src="{{ client.publicPath }}/static/lib.js"></script>
</body>
</html>